Package: sntp
Source: ntp
Version: 1:4.2.8p15-1vyatta2
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 260
Depends: libc6 (>= 2.38), libevent-core-2.1-7t64 (>= 2.1.8-stable), libevent-pthreads-2.1-7t64 (>= 2.1.8-stable), libopts25 (>= 1:5.18.16), libssl3t64 (>= 3.0.0)
Breaks: ntp (<< 1:4.2.8p10+dfsg-3+exp3)
Replaces: ntp (<< 1:4.2.8p10+dfsg-3+exp3)
Section: net
Priority: optional
Homepage: http://support.ntp.org/
Description: Network Time Protocol - sntp client
 NTP, the Network Time Protocol, is used to keep computer clocks
 accurate by synchronizing them over the Internet or a local network,
 or by following an accurate hardware receiver that interprets GPS,
 DCF-77, NIST or similar time signals.
 .
 sntp can be used as an SNTP client to query a NTP or SNTP server and
 either display the time or set the local system's time. It is not
 sufficient, however, for maintaining an accurate clock in the long run.
