Package: ntp
Version: 1:4.2.8p15-1vyatta2
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 2106
Depends: adduser, lsb-base (>= 3.2-13), netbase, tzdata, libc6 (>= 2.38), libcap2 (>= 1:2.10), libedit2 (>= 2.11-20080614-0), libopts25 (>= 1:5.18.16), libssl3t64 (>= 3.4.0)
Recommends: sntp, perl:any
Suggests: ntp-doc
Conflicts: time-daemon
Replaces: time-daemon
Provides: time-daemon
Section: net
Priority: optional
Homepage: http://support.ntp.org/
Description: Network Time Protocol daemon and utility programs
 NTP, the Network Time Protocol, is used to keep computer clocks
 accurate by synchronizing them over the Internet or a local network,
 or by following an accurate hardware receiver that interprets GPS,
 DCF-77, NIST or similar time signals.
 .
 This package contains the NTP daemon and utility programs.  An NTP
 daemon needs to be running on each host that is to have its clock
 accuracy controlled by NTP.  The same NTP daemon is also used to
 provide NTP service to other hosts.
 .
 For more information about the NTP protocol and NTP server
 configuration and operation, install the package "ntp-doc".
